@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/*Bootstrap Button with Icon Customization*/
[class*=" bi-"]::before{
    line-height: 1.15;
}

/*Bootstrap Align Dropdown Right*/
.dropdown-menu[data-bs-popper]{
    right: 0 !important;
    left: auto !important;
}

/*Navbar Account Image*/

.sm-acc-img{
    width: 30px;
}

/*Account Image Big*/
.account-img{
    width: 125px;
}

.navbar{
    z-index: 101;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
}

.vertical-center{
    vertical-align: middle;
}

/*Login*/
.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}